[submodule "vendor/libheif"]
    path = vendor/libheif
    url = https://github.com/strukturag/libheif.git
[submodule "vendor/libde265"]
    path = vendor/libde265
    url = https://github.com/strukturag/libde265.git
[submodule "vendor/x265"]
    path = vendor/x265
    url = https://bitbucket.org/multicoreware/x265_git.git
[submodule "vendor/libaom"]
    path = vendor/libaom
    url = https://aomedia.googlesource.com/aom
[submodule "vendor/dav1d"]
    path = vendor/dav1d
    url = https://code.videolan.org/videolan/dav1d.git
[submodule "vendor/libwebp"]
    path = vendor/libwebp
    url = https://github.com/webmproject/libwebp.git
